@font-face {
  font-family: a4speed;
  src: url(fonts/a4speed.ttf);
}

@font-face {
  font-family: inter;
  src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0); 
  font-family: inter, sans-serif;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex; /* Flexbox kullanarak header içindeki elemanları yatay hizalar */
  align-items: center; /* Dikey ortalama */
  justify-content: space-between;
  padding: 8px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.headercontainer {
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

#brand {
  font-family: a4speed;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;
}

nav {
  position: relative;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  align-self: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
}

nav ul li:last-child {
  margin-right: 0px;
}

.link-header {
  font-family: a4speed;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.link-header:hover {
  color: #ffde7a;
}

a {
  text-decoration: none;
}

.teamphotocontainer {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 100px;
}

.teamphoto img {
  max-width: 80%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.teamphoto {
  -webkit-user-select: none;
  user-select: none;
}

.content-title {
  color: #ffffff;
  font-family: a4speed;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
}

.content {
  color: #ffffff;
  font-family: inter;
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

a {
  text-decoration: none;
}

button {
  background-color: #000000;
  color: #ffffff;
  font-family: inter;
  font-size: 16px;
  padding: 16px 72px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px #ffffff;
  text-decoration: none;
}

button:hover {
  box-shadow: 0px 0px 20px #ffffff;
}

footer {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 240px;
}

.footercontainer {
  display: flex;
  align-items: center;
}

#footer-logo {
  width: 40px;
  height: auto;
  margin-right: 8px;
}

#footer-brand {
  font-family: a4speed;
  font-size: 20px;
  color: #ffffff;
}

.footer-text {
  color: #dddddd;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* width: 400px; */
  width: 60%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icons img {
  height: 20px;
  width: auto;
}

.footer-right {
  display: flex;
}

.pages h2{
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.pages-footer {
  color: #dddddd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 12px;
  display: block;
}

.pages a:last-child {
  margin-bottom: 0px;
}

.pages {
  margin-right: 40px;
}

.contact h2{
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.contact-footer {
  margin-bottom: 12px;
  display: flex;
}

.contact-footer img {
  width: 18px;
  height: 16px;
}

.contact-footer p {
  color: #dddddd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
}

/* ABOUT */
.about-content-title {
  color: #ffffff;
  font-family: a4speed;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-content {
  color: #ffffff;
  font-family: inter;
  text-align: left;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-bottom-img-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 100px;
}

.about-bottom-img img {
  max-width: 90%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.about-bottom-img {
  -webkit-user-select: none;
  user-select: none;
}

/* ROBOTS */
.snapfire-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 100px;
}

.snapfire-photo img {
  max-width: 60%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.snapfire-photo {
  -webkit-user-select: none;
  user-select: none;
}

.line-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-bottom: 30px;
}

.linephoto img {
  max-width: 90%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.linephoto {
  -webkit-user-select: none;
  user-select: none;
}

.robots-content {
  color: #ffffff;
  font-family: inter;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.robots-content-linked {
  color: #ffffff;
  font-family: inter;
  text-align: center;
  font-size: 18px;
  width: 70%; 
  margin: 0 auto;
}

.robots-content-linked a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.banner-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 60px;
}

.banner-photo img {
  max-width: 25%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
}

.banner-photo {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center; /* İçeriği yatayda ortala */
  gap: 4%;
}

/* SUPPORT US */
.support-content-title {
  color: #ffffff;
  font-family: a4speed;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 30px;
}

.support-us-form {
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  gap: 2%;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-family: inter;
  font-size: 16px;
  color: #ffffff;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-family: inter;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  overflow-y: auto;
  resize: none;
}

.support-us-form input:-webkit-autofill,
.support-us-form input:-webkit-autofill:focus,
.support-us-form textarea:-webkit-autofill,
.support-us-form textarea:-webkit-autofill:focus,
.support-us-form select:-webkit-autofill,
.support-us-form select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

button[type="submit"] {
  background-color: #1D4ED8;
  color: #ffffff;
  font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 16px 72px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  box-shadow: 0px 0px 0px;
  margin-bottom: 60px;
}

button[type="submit"]:hover {
  background-color: rgb(39, 96, 255);
}

.support-us-form input[type="text"]::-webkit-scrollbar,
.support-us-form textarea::-webkit-scrollbar {
    width: 4px;
}

.support-us-form input[type="text"]::-webkit-scrollbar-thumb,
.support-us-form textarea::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
}

.support-us-form input[type="text"]::-webkit-scrollbar-track,
.support-us-form textarea::-webkit-scrollbar-track {
    background-color: #000000;
}

.collapsible {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter';
  font-size: 16px;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-align: left;
  box-shadow: none;
}

.collapsible:hover {
  box-shadow: none;
}

.active, .collapsible:hover {
  background-color: #000000;
}

.collapsible:after {
  content: '\25B3'; /* Yukarı ok ikonu */
  color: white;
  font-weight: 200;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25BD"; /* Aşağı ok ikonu */
}

.collapsible-content {
  font-family: 'Inter'; /* Yazı tipini 'inter' yapar */
  font-size: 16px; /* Yazı boyutunu 16 piksel yapar */
  color: #eeeeee;
  text-align: left; /* Metni sola hizalar */
  max-height: 0; /* İçeriğin başlangıçta görünmemesi için maksimum yüksekliğini 0 yapar */
  overflow: hidden; /* Taşan içeriği gizler */
  transition: max-height 0.8s ease-out, opacity 0.6s ease-out, visibility 0.3s; /* Yükseklik değişiminde geçiş animasyonu ekler, 0.2 saniye sürer */
  background-color: #000000; /* Arka plan rengini siyah yapar */
  border-radius: 0 0 4px 4px; /* İçeriğin köşelerini butonun alt köşeleri ile eşleşecek şekilde yuvarlar */
  padding: 18px; /* İçeriğin tüm kenarlarına 18 piksel boşluk ekler */
  width: 70%; /* İçeriğin genişliğini %100 eksi toplam padding yapar (18px sağ ve 18px sol toplam 36px) */
  box-sizing: border-box; /* Padding ve border genişliğe dahil edilir */
  border-left: 1px solid #ffffff; /* Sol kenarlık ekler */
  border-right: 1px solid #ffffff; /* Sağ kenarlık ekler */
  border-bottom: 1px solid #ffffff; /* Alt kenarlık ekler */
  margin: 0 auto; /* Öğeyi yatayda ortalar */
  opacity: 0; /* Opaklık başlangıçta 0 */
  visibility: hidden; /* Görünürlük başlangıçta gizli */
}

.collapsible-content.show {
  max-height: 1000px; /* İçeriğin açıldığında maksimum yüksekliği belirlenir */
  opacity: 1; /* Opaklık görünür */
  visibility: visible; /* Görünürlük açılır */
}

.collapsible-content h2 {
  color: #ffffff;
  text-align: center;
}

.bolden {
  font-weight: bold; /* Kalın yazı stili */
  color: #ffffff; /* Yazı rengini koyulaştır */
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  a {
    color: #ffffff;
  }
  a:visited {
    color: #ffde7a;
  }
  a:hover {
    color: #dddddd;
  }

  .off-screen-menu {
    background-color: rgba(0, 0, 0, 0.9 );
    height: 100vh;
    width: 100%;
    max-width: 160px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: a4speed;
    text-align: left;
    font-size: 16px;
    transition: 0.3s ease;
  }
  .off-screen-menu.active {
    right: 0;
  }

  .off-screen-menu.active ul {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
  }
  .off-screen-menu ul {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
  }
  
  .off-screen-menu.active ul li {
    margin-top: 40px;
  }
  .off-screen-menu ul li {
    margin-top: 40px;
  }
  
  .off-screen-menu.active ul li:first-child {
    margin-top: -280px;
  }
  .off-screen-menu ul li:first-child {
    margin-top: -280px;
  }
  
 
  nav {
    padding: 0rem;
    display: flex;
    background-color: none;
  }
  
 
  .ham-menu {
    height: 40px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  .ham-menu.active span {
    background-color: white;
  }
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .teamphoto img {
    min-width: 100%; /* Fotoğraf maksimum genişlikte olsun */
    display: block;
    margin: 0 auto; /* Yatayda ortala */
  }

  .content-title {
    margin-left: 10px;
    margin-right: 10px;
  }

  .content {
    color: #ffffff;
    font-family: inter;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  footer {
    flex-direction: column; /* Footer içeriğini dikey hizala */
    align-items: center; /* İçeriği yatayda ortala */
    padding: 5%;
  }

  .footer-text {
    color: #dddddd;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* width: 280px; */
    /* max-width: 400px; */
    width: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .social-icons {
    margin-bottom: 20px;
  } 

  .footer-right {
    align-self: flex-start;
  }

  .contact {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }

  .pages, .contact h2 {
    display: none; /* Mobilde gizle */
  } 

  .contact-footer {
    margin-bottom: 12px;
    display: flex;
    white-space: nowrap
    
  }
  
  .contact-footer img {
    width: 18px;
    height: 16px;
  }
  
  .contact-footer p {
    color: #dddddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-left: 6px;
  }

  /* ABOUT */
  .about-content-title {
    margin-left: 5%;
    margin-right: 5%;
  }

  .about-content {
    color: #ffffff;
    font-family: inter;
    text-align: left;
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* ROBOTS */
  .snapfire-photo img {
    max-width: 80%; /* Fotoğraf maksimum genişlikte olsun */
    display: block;
    margin: 0 auto; /* Yatayda ortala */
  }

  .robots-content {
    color: #ffffff;
    font-family: inter;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .robots-content-linked {
    color: #ffffff;
    font-family: inter;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    width: 90%; 
    margin: 0 auto;
  }

  /* SUPPORT US */
  .support-content-title {
    margin-left: 10px;
    margin-right: 10px;
  }

  .collapsible {
    width: 94%; /* Ekranın genişliğine göre esneklik kazandırır */
    margin: 0 auto; /* Yatayda ortalar */
  }

  .collapsible-content {
    font-family: 'Inter'; /* Yazı tipini 'inter' yapar */
    font-size: 16px; /* Yazı boyutunu 16 piksel yapar */
    color: #dddddd;
    text-align: left; /* Metni sola hizalar */
    width: 94%; /* Ekranın genişliğine göre esneklik kazandırır */
    margin: 0 auto; /* Yatayda ortalar */
  }
}
