@font-face {
  font-family: a4speed;
  src: url(fonts/a4speed.ttf);
}

@font-face {
  font-family: inter;
  src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0); 
  font-family: inter, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex; /* Flexbox kullanarak header içindeki elemanları yatay hizalar */
  align-items: center; /* Dikey ortalama */
  justify-content: space-between;
  padding: 8px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.headercontainer {
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

#brand {
  font-family: a4speed;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;
}

nav {
  position: relative;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  align-self: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
}

nav ul li:last-child {
  margin-right: 0px;
}

.link-header {
  font-family: a4speed;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.link-header:hover {
  color: #ffde7a;
}

.teamphotocontainer {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 100px;
}

.teamphoto img {
  max-width: 80%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.teamphoto {
  -webkit-user-select: none;
  user-select: none;
}

.content-title {
  color: #ffffff;
  font-family: a4speed;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
}

.content {
  color: #ffffff;
  font-family: inter;
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

a {
  text-decoration: none;
}

button {
  background-color: #000000;
  color: #ffffff;
  font-family: inter;
  font-size: 16px;
  padding: 16px 72px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px #ffffff;
  text-decoration: none;
}

footer {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between; /* Div'ler arasında boşluk bırakır */
  /* align-items: center; */ /* İsteğe bağlı: dikey hizalama */
  margin-top: 240px;
}

.footercontainer {
  display: flex;
  align-items: center;
}

#footer-logo {
  width: 40px;
  height: auto;
  margin-right: 8px;
}

#footer-brand {
  font-family: a4speed;
  font-size: 20px;
  color: #ffffff;
}

.footer-text {
  color: #dddddd;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* width: 400px; */
  width: 60%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icons img {
  height: 20px;
  width: auto;
}

.footer-right {
  display: flex;
}

.pages h2{
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.pages-footer {
  color: #dddddd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 12px;
  display: block;
}

.pages a:last-child {
  margin-bottom: 0px;
}

.pages {
  margin-right: 40px;
}

.contact h2{
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.contact-footer {
  margin-bottom: 12px;
  display: flex;
}

.contact-footer img {
  width: 18px;
  height: 16px;
}

.contact-footer p {
  color: #dddddd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
}

/* ABOUT */
.about-content-title {
  color: #ffffff;
  font-family: a4speed;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-content {
  color: #ffffff;
  font-family: inter;
  text-align: left;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

.about-bottom-img-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 100px;
}

.about-bottom-img img {
  max-width: 90%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.about-bottom-img {
  -webkit-user-select: none;
  user-select: none;
}

/* ROBOTS */
.snapfire-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 100px;
}

.snapfire-photo img {
  max-width: 60%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.snapfire-photo {
  -webkit-user-select: none;
  user-select: none;
}

.line-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-bottom: 30px;
}

.linephoto img {
  max-width: 90%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
  margin: 0 auto; /* Yatayda ortala */
}

.linephoto {
  -webkit-user-select: none;
  user-select: none;
}

.robots-content {
  color: #ffffff;
  font-family: inter;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.banner-container {
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
  align-items: center; /* İçeriği dikeyde ortala */
  margin-top: 60px;
}

.banner-photo img {
  max-width: 25%; /* Fotoğraf maksimum genişlikte olsun */
  display: block;
}

.banner-photo {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center; /* İçeriği yatayda ortala */
  gap: 4%;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
  }

  .teamphoto img {
    min-width: 100%; /* Fotoğraf maksimum genişlikte olsun */
    display: block;
    margin: 0 auto; /* Yatayda ortala */
  }

  .content-title {
    margin-left: 10px;
    margin-right: 10px;
  }

  .content {
    color: #ffffff;
    font-family: inter;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  footer {
    flex-direction: column; /* Footer içeriğini dikey hizala */
    align-items: center; /* İçeriği yatayda ortala */
    padding: 5%;
  }

  .footer-text {
    color: #dddddd;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* width: 280px; */
    /* max-width: 400px; */
    width: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .social-icons {
    margin-bottom: 20px;
  } 

  .footer-right {
    align-self: flex-start;
  }

  .contact {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }

  .pages, .contact h2 {
    display: none; /* Mobilde gizle */
  } 

  .contact-footer {
    margin-bottom: 12px;
    display: flex;
    white-space: nowrap
    
  }
  
  .contact-footer img {
    width: 18px;
    height: 16px;
  }
  
  .contact-footer p {
    color: #dddddd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-left: 6px;
  }

  /* ABOUT */
  .about-content-title {
    margin-left: 5%;
    margin-right: 5%;
  }

  .about-content {
    color: #ffffff;
    font-family: inter;
    text-align: left;
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* ROBOTS */
  .snapfire-photo img {
    max-width: 80%; /* Fotoğraf maksimum genişlikte olsun */
    display: block;
    margin: 0 auto; /* Yatayda ortala */
  }

  .robots-content {
    color: #ffffff;
    font-family: inter;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
